body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
  user-select: none;
}

#grid {
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
  cursor: pointer;
}
